$linkFontColor:$btnFontColor;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,b,img,i,a:focus,a:active,div,p,input,ul,li,ol,dl,dd,dt,span,strong,em,textarea,body{
  font-style:normal;
  outline:none;
  resize:none;
  margin:0;
  padding:0;
}
a{
  color:$linkFontColor;
}
a:-webkit-any-link{
  color:$linkFontColor;
}

a.btn:active{
  box-shadow:none;
  -webkit-box-shadow:none;
}

label{
  margin:0;
  padding:0;
}