$white:#fff;
$grayD:#333;
$gray:#666;
$grayL:#999;
$orange:#FF8700;
$red:#FC2B07;
$green:#4CC25C;

$zIndex-page:1;
$zIndex-component:10;
$zIndex-modal:100;
$zIndex-max:1000;

$bg:#f0f5f8;
$commonBg:#fff;
$btnFC:$gray;
$btnFontColor:$grayL;
$activeFC:$orange;
$rowHeight:40px;
$paddingX:16px;
$paddingY:20px;
$borderColor:#ddd;
$grayBg:#F9F9F9;
$remarkFC:#ccc;