a{
  cursor:pointer;
}

.btn{
  display:inline-block;
  font-size:14px;
  text-align: center;
}

.btn-orange-border{
  color:$orange;
  border:1px solid $orange;
}

.btn-theme-border-round{
  padding:0 5px;
  color:$themeColor;
  border:1px solid $themeColor;
  border-radius: 10px;
  line-height: 20px;
  font-size: $fontSize-s;
}

.btn-theme-round{
  padding:0 5px;
  color:$white!important;
  background-color: $themeColor;
  border-radius: 20px;
  line-height: 40px;
}

.btn-theme{
  background-color: $themeColor;
  color:$white;
  border-radius: 4px;
}

.btn-gray-round{
  padding:0 5px;
  color:$gray;
  background-color: $grayLBg;
  border-radius: 20px;
  line-height: 30px;
}

.btn-gray-d-round{
  padding:0 5px;
  color:$white;
  background-color: $grayDBg;
  border-radius: 20px;
  line-height: 40px;
}
.btn-round-border{
  padding:0 5px;
  border:1px solid $borderColor;
  border-radius: 20px;
  line-height: 30px;
}



.gray-icons{
  overflow: hidden;
  display: flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  li{
    display: inline-flex;
    background-color: $grayDBg;
    line-height: 20px;
    padding:0 5px;
    border-radius: 10px;
    margin:5px 5px 0 0;
  }
}

.gray-border-icons{
  overflow: hidden;
  display: flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  li{
    display: inline-flex;
    line-height: 20px;
    padding:0 5px;
    border:1px solid $borderColor;
    border-radius: 4px;
    margin:5px 5px 0 0;
    &.selected{
      background-color: $themeColor;
      border-color: $themeColor;
      color: $white;
    }
  }
}

.btn-text{
  line-height: 30px;
  font-size: $fontSize-m;
}
.btn-small{
  line-height: 25px;
  padding:0 10px;
  font-size: $fontSize-m;
}
.btn-normal{
  line-height: 30px;
  padding:0 20px;
  font-size: $fontSize-m;
}
.btn-large{
  width:100%;
  font-size: $fontSize-xl;
}
.btn-harf{
  width:49%;
  font-size: $fontSize-xl;
}

.btn-black-round{
  display: inline-block;
  min-width:20px;
  line-height: 20px;
  text-align: center;
  background-color: $black;
  color: $white;
  border-radius: 20px;

}

.img-icon{
  width:22px;
  height:22px;
}

.bg-white{
  background-color: $white!important;
}

.btn-interest{
  fill: $red;
}
