$headerHeight: 40px;

.vux-header.slc-header {
  position: absolute;
  top:0;
  width:100%;
  background-color: $bg;
  height: $headerHeight;
  border-bottom: 1px solid $borderColor;
  padding: 0;
  z-index: $zIndex-page;
  .vux-header-left a {
    color: $themeColor;
  }
  .vux-header-title {
    margin: 0;
    img {
      height: 80%;
    }
  }
}

.top-nav-bar {
  background-color: $bg;
  //border-bottom:1px solid $borderColor;
  height: 40px;
  z-index: $zIndex-component;
  .vux-tab-ink-bar {
    background-color: $themeColor;
  }
  .vux-tab-item.vux-tab-selected {
    color: $themeColor;
    border-bottom: 3px solid $themeColor;
  }
}

.top-nav-bar.no-selected {
  .vux-tab-item.vux-tab-selected{
    color:$fontColor;
    border-bottom: 0;
  }
  .vux-tab-ink-bar {
    display: none!important;
  }
}

.detail-area {
  position: relative;
  line-height: 30px;
  padding: $paddingY $paddingX;
  .content {
    line-height: 20px;
    color: $gray;
  }
  .task-description {
    margin-top: 30px;
    .title {
      display: inline-block;
      font-size: $fontSize-xxl;
      line-height: 40px;
      border-bottom: 2px solid $grayL;
    }
  }
}

.flex {
  display: flex;
  > * {
    flex-grow: 1;
  }
}

.main-container {
  position: absolute;
  top:$headerHeight;
  bottom:0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: transparent;
}

.page-container {
  background-color: $grayLBg;
  box-shadow: 0 0 0 0;
  min-height:100%;
  .container {
    margin: $paddingY $paddingX 0 $paddingX;
    padding: $paddingY $paddingX;
    background-color: $white;
    &:first-child {
      margin-top: 0;
    }
  }
}
.no-bar-container{
  padding:$paddingY 0;
}

.content-page {
  padding: $paddingY $paddingY;
}
