.mint-radio-input:checked+.mint-radio-core{
  background-color: $themeColor;
  border-color: $themeColor;
}


.mint-cell{
  background-color: transparent;
  min-height:30px;
  &:last-child{
    background-image: none;
  }
  .mint-cell-wrapper{
    font-size: $fontSize-m;
    line-height: 30px;
    padding-left:0;
    .mint-radiolist-label{
      padding-left:0;
    }
  }
}

.pull-down-header{
  background-color:transparent;
  .pull-down-content{
    color:$grayL;
  }
}
