
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501175546081'); /* IE9*/
  src: url('iconfont.eot?t=1501175546081#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501175546081') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501175546081') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501175546081#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-talk:before { content: "\e63c"; }

.icon-add:before { content: "\e7bf"; }

.icon-location:before { content: "\e604"; }

.icon-time:before { content: "\e610"; }

.icon-right:before { content: "\e602"; }

.icon-nav:before { content: "\e6e9"; }

.icon-arrow-up:before { content: "\e698"; }

.icon-arrow-down:before { content: "\e745"; }

.icon-arrow-left:before { content: "\e746"; }

.icon-user:before { content: "\e601"; }

.icon-edit:before { content: "\e623"; }

.icon-arrow-right:before { content: "\e611"; }

.icon-job:before { content: "\e603"; }

.icon-movie:before { content: "\e699"; }


