.nav-container{
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:$zIndex-modal;
  .mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:$zIndex-modal;
  }
  .nav-left{
    position:relative;
    left:-200px;
    top:0;
    width:200px;
    height:100%;
    background-color:#282828;
    padding:20px;
    color:$white;
    z-index:$zIndex-modal;
    &.show{
      left:0px;
      animation: nav-left-in 0.5s;
    }
    &.hidden{
      left:-200px;
      animation: nav-left-out 0.5s;
    }
    .user-avatar{
      width: 80px;
      border-radius: 40px;
    }
    .menu{
      li{
        &.active{
          color:$themeColor;
          a{
            color:$themeColor;
          }
        }
        a{
          color:$white;
        }
        line-height:40px;
      }
    }
  }
}


@keyframes nav-left-in {
  from{
    left:-200px;
  }
  to{
    left:0;
  }
}

@keyframes nav-left-out {
  from{
    left:0;
  }
  to{
    left:-200px;
  }
}

//.nav-left-in{
//  animation: nav-left-in 5s;
//}
//.nav-left-out{
//  animation: nav-left-out 5s;
//}
