$tdHeight:40px;
$thHeight:40px;
$thPaddingX:5px;
$thPaddingY:5px;
$tdPaddingX:5px;
$tdPaddingY:5px;
$tableBorderHeight:1px;

.table-area{
  padding:0 0 20px 0;
  //min-height:600px;
  .default{
    width:100%;
    border:1px solid $borderColor;
    border-collapse:collapse;
    thead{
      tr{
        th{
          background-color:#F5F6F8;
          line-height:40px;
          font-weight:normal;
          padding:0 10px;
        }
      }
    }
    tbody{
      tr{
        &:not(:last-child){
          border-bottom:1px solid $borderColor;
        }
        td{
          line-height:40px;
          text-align:center;
          padding:0 10px;
        }
      }
    }
  }
  .table-bar{
    margin-top:20px;
  }
}

.d-page{
  .ivu-page-item{
    &.ivu-page-item-active{
      background-color:$orange;
      border-color:$orange;
      a{
        color:$white;
      }
      &:hover{
        background-color:$orange;
        border-color:$orange;
        a{
          color:$white;
        }
      }
    }
    &:hover{
      border-color:$orange;
      a{
        color:$orange;
      }
    }
  }
  .ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev{
    &:not(.ivu-page-disabled){
      &:hover{
        border-color:$orange;
        a{
          color:$orange;
        }
      }
    }
  }
  .ivu-page-options-elevator{
    input{
      &:focus{
        border-color:$orange;
        box-shadow: 0 0 0 0 ;
      }
      &:hover{
        border-color:$orange;
      }
    }
  }
  .ivu-select-visible .ivu-select-selection{
    border-color: $orange;
    box-shadow: 0 0 0 0;
  }
  .ivu-select-selection:hover{
    border-color: $orange;
  }
}

.empty-list{
  text-align:center;
  margin-top:50px;
  img{
    width:130px;
  }
}

.td-operation{
  white-space:nowrap;
}

.table-top-bar{
  margin-bottom:$paddingY;
  overflow: hidden;
}
.table-bottom-bar{
  margin-top:$paddingY;
  text-align: center;
}

