.form-area{
  padding:$paddingY $paddingX;
  background-color: $bg;
  .form-row{
    line-height: 30px;
    &:not(:last-child){
      margin-bottom:30px;
    }
    input{
      line-height: 30px;
      width:100%;
    }
    textarea{
      line-height: 20px;
      width:100%;
    }
  }
  .btn-area{
    text-align: center;
  }
}