$headerHeight:40px;

.slc-header.mint-header{
  background-color: $grayLBg;
  height:$headerHeight;
  border-bottom:1px solid $borderColor;
  .mint-button-icon{
    color:$themeColor;
  }
}
.mint-header-title{
  flex:0;
}

.main-container{
  width:100%;
  height:100%;
  padding-top:$headerHeight + 1;
}

.top-nav-bar.mint-navbar.is-fixed{
  top:$headerHeight + 1;
  background-color: $grayBg;
  border-bottom:1px solid $borderColor;
  .mint-tab-item{
    color:$themeColor;
    &.is-selected{
      border-color: $themeColor;
    }
  }
}