$headerHeight:40px;

.slc-header.mint-header{
  background-color: $bg;
  height:$headerHeight;
  border-bottom:1px solid $borderColor;
  .mint-button-icon{
    color:$themeColor;
  }
}
.mint-header-title{
  flex:0;
}

.top-nav-bar.mint-navbar.is-fixed{
  top:$headerHeight + 1;
  background-color: $bg;
  border-bottom:1px solid $borderColor;
  .mint-tab-item{
    color:$themeColor;
    &.is-selected{
      border-color: $themeColor;
    }
  }
}

.detail-area{
  position: relative;
  line-height: 30px;
  padding:$paddingY $paddingX;
  .content{
    line-height: 20px;
    color:$gray;
  }
  .task-description{
    margin-top:30px;
    .title{
      display: inline-block;
      font-size: $fontSize-xxl;
      line-height:40px;
      border-bottom:2px solid $grayL;
    }
  }
}

.flex{
  display: flex;
  >*{
    flex-grow: 1;
  }
}

.main-container{
  width:100%;
  height:100%;
  padding-top:$headerHeight + 1;
}
.page-container{
  background-color: $grayLBg;
  padding:$paddingY 0;
  .container{
    margin:$paddingY $paddingX 0 $paddingX;
    padding:$paddingY $paddingX;
    background-color: $white;
    &:first-child{
      margin-top:0;
    }
  }
}
.content-page{
  padding:$paddingY $paddingY;
}